@import url(https://fonts.googleapis.com/css?family=Montserrat);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: black;
	font-family: 'Montserrat';
}
#wrapper {
	width: 1250px;
}
nav {
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	font-size: 1.3em;
	float: left;
	color: white;
	margin: auto 7% auto 7%;
	padding: 1%;
	width: 10%;
	text-align: center;
}
label {
	font-style: none;
	font-size: 1.3em;
	float: left;
	color: black;
	margin: auto;
	padding: .7em .4em;
	display: none;
}
#toggle {
	display: none;
}
header {
	background-color: black;
	margin: auto;
	padding: 4em 1em 2em 1em;
}
header img {
	margin: 2% auto auto auto;
	width: 25%;
	min-width: 200px;
	display: block;
}
header h2 {
	color: white;
	margin: auto auto auto 23em;
	padding: .25em;
	width: 30%;
	min-width: 254px;
	text-align: center;
	font-size: 1.2em;
	display: block;
}
#summit {
	background-color: black;
	margin: auto;
	padding: .25em;
}
#productscarousel {
	padding: 3%;
	float: left;
	width: 47%;
	min-width: 350px;
}
#productscarousel img {
	width: 100%;
	min-width: 350px;
	max-width: 515px
}
#mbviewcarousel {
	padding: .25em;
	float: right;
	width: 47%;
	min-width: 350px;
}
#mbviewcarousel img {
	width: 100%;
	min-width: 350px;
	max-width: 515px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
#prodcutsmenu {
	margin: auto;
    padding: .5em;
}
#prodcutsmenu h3{
	color: black;
	margin: auto;
    padding: .5em;
    display: block;
    text-align: center;
	font-size: 2em;
	width: 19%;
}
#families {
	margin: 1em auto;
	float: left;
	width: 16%;
	text-align: center;
}
#collections {
    width: 100%;
    min-width: 150px;
    display: block;
    margin: auto;
}
h4 {
	display: block;
	font-size: .8em;
}
#watches {
	padding: 2em;
	width: 100%;
}
#watches h3 {
	color: black;
	margin: 0em auto 1em;
	padding: .5em;
	width: 15%;
}
#watchwindow {
	margin: 5%;
	float: left;
	width: 20%;
	text-align: center;
}
.watchfamilies {
	margin: auto;
	width: 100%;
	min-width: 150px;
	max-width: 207px;
}
#smallsecond {
	margin: auto;
    padding: .5em;
}
#smallsecond h3{
	color: black;
	margin: 2em auto;
	padding: .5em;
	display: block;
	width: 20%;
	text-align: center;
	font-size: 1.8em;
}
span {
	color: red;
	font-size: 1.4em;
}
#smallsecond div {
	margin: auto;
	width: 65%;
}
#smallsecond ul {
    color: black;
    margin: 7em auto auto 1em;
    line-height: 2em;
    font-size: 1.3em;
    display: inline-block;
    list-style-type: none;
}
#smallsecond img {
	width: 55%;
	min-width: 200px;
	float: right;
	display: inline-block;
}
#mbworld {
	padding: 10px;
	clear: both;
	margin: auto;
}
#mbworld h3{
	color: black;
    padding: 10px;
    margin: auto;
    display: block;
    width: 15.5%;
    text-align: center;
	font-size: .8em;
}
#styleguidecarousel {
    padding: 5px;
    display: block;
    float: left;
}
.styleguide {
	width: 100%;
	min-width: 200px;
}
#scoialmediahud {
    padding: 5px;
    display: block;
}
#boutiquelocator {
	margin: auto;
    padding: 20px;
	display: block;
}
#boutiquelocator h3 {
	text-align: center;
	margin: auto;
	width: 20%;
	color: white;
}
#boutiquelocator ul{
	color: white;
    padding: 5px;
    display: inline-block;
    list-style-type: none;
}
#mapofboutiques {
    padding: 5px;
    display: block;
    width: 50%;
    float: right;
}
footer {
	background-color: black;
	display: block;
    padding: 20px;
    margin: auto;
}
#contactme {
	margin: auto;
	text-align: center;
}
@media only screen and (max-width: 1219px) {
	nav a {
    	margin: auto 5.5% auto 5.5%;
    	width: 14%;
    }
}
@media only screen and (max-width: 1173px) {
	#wrapper {
		width: 1173px;
	}
	nav a {
    	margin: auto 4.5% auto 4.5%;
    	width: 16%;
    }
}
@media only screen and (max-width: 1006px) {
	#wrapper {
		width: 1006px;
	}
	nav a {
    	margin: auto 3.5% auto 3.5%;
    	width: 18%;
}
@media only screen and (max-width: 939px) {
	#wrapper {
		width: 939px;
	}
	nav a {
    	margin: auto 2.5% auto 2.5%;
    	width: 20%;
}
@media only screen and (max-width: 782px) {
	#wrapper {
		width: 782px;
	}
	nav {
    	position: static;
    	width: 100%;
    	display: none;
	}
	nav a {
		float: none;
		display: block;
		margin: auto 17.6em auto 17.6em;
    	width: 21%;
	}
	label {
		display: block;
	}
	#toggle:checked + nav {
		display: block;
	}
}






