/*font-family: 'Baloo Paaji', cursive;
font-family: 'Baloo Tamma', cursive;*/

body {
	background-color: #16E4E8;
	font-family: 'Baloo Tamma', cursive;
}
.jumbotron {
	border: 5px solid black;
	margin-bottom: 0px;
	background-color: #16E4E8;
}
#slantedlightlogo {
	margin: auto;
	width: 70%;
	max-width: 250px;
}
#title {
	margin: auto;
}
#mainheadline {
	/*border: 5px solid black;*/
}
#mainvideo {
	display: block;
	margin: auto;
}
#topshlef {
	/*border: 5px solid black;*/
}
.col-xs-4 {
	border: 5px solid black;
}
#subjects {
	font-family: 'Baloo Tamma', cursive;
}