body {
	width: 500px;
}
nav {
		background-color: white;
	list-style-type: none;
	text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    font-style: none;
    float: left;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    width: 10%;
    text-align: center;
}